/* components */
.design_bullet_para{
    font-size:18px;line-height:1.2;position:relative;padding-left:20px;font-weight:700;color:#292a2e;
    &:before{display:block;content:'';width:16px;height:16px;background:url("../images/ic_division@2x.png") no-repeat 0 0/100% auto;position:absolute;top:3px;left:0;}
}
.tab_box_contents_zone{}
.tab_box_container{}
.tab_box_list_wrap{border-radius: 4px;position:relative;overflow:hidden;}
.tab_box_list{
    display:flex; gap:1px;  min-height:60px; 
    > li{
        flex:1;display:flex;
        &.active{
            .tab_box{
                background:$primary;
                .tab_box_text{}
            }
        }
        &:last-of-type{}
    }
}
.tab_box{
    background:#b5bbcb; width:100%; display:flex; justify-content: center; align-items: center; text-align: center; 
}
.tab_box_text{
    font-size: 16px;line-height: 1;color: #fff; display:inline-block; padding:10px; word-break: keep-all;
}
.tab_contents_wrap{
    margin-top:90px;
    &.type2{
        margin-top:0;
        .tab_contents_inner{
            margin-top:70px;
        }
    }
}
.tab_contents{
    display:none;
    &.active{display:block;}
}

.tab_subtext_list_wrap{margin-top:20px;}
.tab_subtext_list{
    display:flex; justify-content: center; gap:40px;
    > li {
        &.active{
            .tab_subtext{
                border-color:$primary;
                .tab_subtext_in{color:$primary;font-weight:600;letter-spacing: -0.25px;}
            }
        }
        &:last-of-type{}
    }
}
.tab_subtext{
    display:inline-flex; min-height:38px; justify-content: center; align-items:center; text-align: center; min-width:98px; border-bottom:2px solid transparent;
    &.type2{
        min-width:280px;padding:0 17px; box-sizing: border-box;
    }
}
.tab_subtext_in{font-size:15px;color:#63677b;display:inline-block;padding:5px;}

.tab_subcontents_wrap{
    
}
.tab_subcontents{
    display:none;
    &.active{display:block;}
}

@media (max-width:$tablet){
    .design_bullet_para{
        font-size:16px;
        &:before{top:2px;}
    }
    .tab_contents_wrap{
        margin-top:60px;
        &.type2{
            .tab_contents_inner{
                margin-top:40px;
            }
        }
    }

    .tab_box_list{
        min-height:44px;
    }
    .tab_box_text{
        font-size: 14px;padding:0;
    }
    

    
    .tab_subtext_list_wrap{margin-top:12px;}
    .tab_subtext_list{
       gap:0;
        > li {
            flex:1;
            &.active{
                .tab_subtext{
                    .tab_subtext_in{letter-spacing: 0;}
                }
            }
        }
    }
    .tab_subtext{
        min-width:0; display:flex;
        &.type2{
            min-width:0;padding:0; 
            .tab_subtext_in{padding:8px;}
        }
    }
    .tab_subtext_in{font-size:14px;}
}

@media (max-width:$mobile){
    .tab_box_list{
        &.break_type{
            flex-wrap:wrap;gap:1px;
            > li {flex:0 0 calc(50% - 0.5px);box-sizing: border-box;
                &.active{
                     position:relative;z-index:1;
                }
            }
            .tab_box_text{padding:15px 8px;}
        }
    }
    .tab_contents_wrap{
        margin-top:40px;
        &.type2{
            .tab_contents_inner{
                margin-top:40px;
            }
        }
    }
}


/* board */
.board_count_row{}
.board_count_item{}
.board_count_key{}
.board_count_value{}
.gallery_list_wrap{}
.gallery_list{
    > li{
        &:last-of-type{}
        &.nodata_li{
            .nodata_para{}
        }
    }
}
li.nodata_li{

}
.nodata_para{}
.gallery_item{}
.gallery_thum_row{
    > img{}
}
.gallery_spec_row{}
.gallery_spec_main{}
.gallery_spec_sub{}

/* paging */
.pagination_wrap{display:flex;justify-content: center;margin-top:20px;gap:4px;}
.btn_pagination_control{
    display:flex;width:24px;height:24px; align-items: center; justify-content: center;
    border-radius: 4px;
    background-color: #f9fafd;
    &:after{
        display:block;content:'';width:16px;height:16px;
        background-position: 0 50%;
        background-size:16px auto;
        background-repeat : no-repeat;
    }
    &:focus{}
    &:hover{
        background-color:$primary;
        &:after{background-position:0 100%;}
    }
    &.disabled{
        background-color: #f9fafd !important; cursor: default;
        &:after{
            background-position:0 0 !important;
        }
    }
    &.prev_go{
        &:after{
            background-image:url("../images/ic_paging_prev_split.png");
        }
        
    }
    &.next_go{ 
        &:after{
            background-image:url("../images/ic_paging_next_split.png");
        }
    }
    &.prev_go2{
        &:after{
            background-image:url("../images/ic_paging_prev2_split.png");
        }
    }
    &.next_go2{
        &:after{
            background-image:url("../images/ic_paging_next2_split.png");
        }
    }
}
.pagination_number_list{
    display:flex;justify-content: flex-end;gap:2px;
    > li{
        &:last-of-type{}
    }
}
.page_number{
    display:flex;align-items:center;height:24px;min-width:24px;white-space: nowrap;justify-content: center;
    font-size: 13px;border-radius: 4px;
    color: #98a0ad;
    &:hover,
    &.active{background-color:$primary;font-weight:500;color:#fff;}
    &.active{cursor: default;}
}

/* view */
.view_content_wrap{}
.view_title_row{}
.view_title_main{}
.view_title_else{}
.view_render_data_row{}
.gallery_swiper_wrap{}
.gallery_view_wrap{
    & + .view_getdata_render{}
}
.swiper-container{
    &.gallery_view_container{
        .swiper-slide{}
    }
    &.gallery_thumnail_container{
        .swiper-slide{}
    }
}
.gallery_view_img{
    img{}
}
.gallery_thumnail_img{
    img{}
}
.gallery_thumnail_wrap{}
.btn_thumnail_control{
    &:after{}
    &.prev{
        &:after{}
    }
    &.next{
        &:after{}
    }
}
.view_getdata_render{}
.view_file_item_row{}
.view_file_item_list{
    > li {
        &:last-of-type{}
    }
}
.view_file_item{}
.view_file_ico{}
.view_file_name{}
.view_other_data_row{}
.view_other_data_table{}
.view_other_data_tr{
    &:last-of-type{}
}
.view_other_data_cell{
    &.cell_th{}
    &.cell_td{}
}
.view_other_data_key{
    &:before{}
    &.type2{
        &:before{

        }
    }
}
.view_other_data_value{}
.btn_bottom_row{}
.btn_submit_box{}
.btn_submit_box_text{}