/* components */
.bold{
    *{}
}
.primary_emp{
    *{}
}
.text_emp_primary{
    *{}
}
.dark_emp{}
.underline{}
.design_bullet_para{
    font-size:18px;line-height:1.2;position:relative;padding-left:20px;font-weight:700;color:#292a2e;
    &:before{display:block;content:'';width:16px;height:16px;background:url("../images/ic_division@2x.png") no-repeat 0 0/100% auto;position:absolute;top:3px;left:0;}
}
.tab_box_contents_zone{}
.tab_box_container{}
.tab_box_list_wrap{border-radius: 4px;position:relative;overflow:hidden;}
.tab_box_list{
    display:flex; gap:1px;  min-height:60px; 
    > li{
        flex:1;display:flex;
        &.active{
            .tab_box{
                background:$primary;
                .tab_box_text{}
            }
        }
        &:last-of-type{}
    }
}
.tab_box{
    background:#b5bbcb; width:100%; display:flex; justify-content: center; align-items: center; text-align: center; 
}
.tab_box_text{
    font-size: 16px;line-height: 1;color: #fff; display:inline-block; padding:10px; word-break: keep-all;
}
.tab_contents_wrap{
    margin-top:90px;
    &.type2{
        margin-top:0;
        .tab_contents_inner{
            margin-top:70px;
        }
    }
}
.tab_contents{
    display:none;
    &.active{display:block;}
}

.tab_subtext_list_wrap{margin-top:20px;}
.tab_subtext_list{
    display:flex; justify-content: center; gap:40px;
    > li {
        &.active{
            .tab_subtext{
                border-color:$primary;
                .tab_subtext_in{color:$primary;font-weight:600;letter-spacing: -0.25px;}
            }
        }
        &:last-of-type{}
    }
}
.tab_subtext{
    display:inline-flex; min-height:38px; justify-content: center; align-items:center; text-align: center; min-width:98px; border-bottom:2px solid transparent;
    &.type2{
        min-width:280px;padding:0 17px; box-sizing: border-box;
    }
}
.tab_subtext_in{font-size:15px;color:#63677b;display:inline-block;padding:5px;word-break:keep-all;}

.tab_subcontents_wrap{
    
}
.tab_subcontents{
    display:none;
    &.active{display:block;}
}

@media (max-width:$tablet){
    .design_bullet_para{
        font-size:16px;
        &:before{top:2px;}
    }
    .tab_contents_wrap{
        margin-top:60px;
        &.type2{
            .tab_contents_inner{
                margin-top:40px;
            }
        }
    }

    .tab_box_list{
        min-height:44px;
    }
    .tab_box_text{
        font-size: 14px;padding:0;
    }
    

    
    .tab_subtext_list_wrap{margin-top:12px;}
    .tab_subtext_list{
       gap:0;
        > li {
            flex:1;
            &.active{
                .tab_subtext{
                    .tab_subtext_in{letter-spacing: 0;}
                }
            }
        }
    }
    .tab_subtext{
        min-width:0; display:flex;
        &.type2{
            min-width:0;padding:0; 
            .tab_subtext_in{padding:8px;}
        }
    }
    .tab_subtext_in{font-size:14px;}
}

@media (max-width:$mobile){
    .tab_box_list{
        &.break_type{
            flex-wrap:wrap;gap:1px;
            > li {flex:0 0 calc(50% - 0.5px);box-sizing: border-box;
                &.active{
                     position:relative;z-index:1;
                }
            }
            .tab_box_text{padding:15px 8px;}
        }
    }
    .tab_contents_wrap{
        margin-top:40px;
        &.type2{
            .tab_contents_inner{
                margin-top:40px;
            }
        }
    }
}


/* list */
.board_count_row{margin-bottom:20px;}
.board_count_item{font-size:14px;color:#63677b;display:flex;flex-wrap:wrap;gap:5px;}
.board_count_key{}
.board_count_value{font-weight:700;color:$primary;}
.gallery_list_wrap{
    &.skin2{
        .gallery_list{
            gap:60px 0; margin:0 -20px;
            > li{
                flex:0 0 33.333333333333%; padding:0 20px;
            }
        }
        .gallery_item{

        }
        .gallery_thum_row{
            padding-bottom:73.89162561576355%;
            > img{}
        }
        .gallery_spec_row{

        }
    }
}
.gallery_list{
    display:flex;flex-wrap:wrap;gap:60px 0; margin:0 -20px;
    > li{
        flex:0 0 25%; width:25%; box-sizing: border-box; padding:0 20px;
        &:last-of-type{}
        &.nodata_li{
            flex: 0 0 100%;text-align:center;
            .nodata_para{}
        }
    }
}
li.nodata_li{
    padding:300px 50px !important; flex:0 0 100% !important;
}
.nodata_para{font-size:16px;}
.gallery_item{}
.gallery_thum_row{
    height:0;overflow:hidden;position:relative; padding-bottom:100%; background:#f8f8f8; border-radius: 4px;
    > img{@include dataImage}
}
.gallery_media_row{
    height:0;overflow:hidden;position:relative; padding-bottom:64.03940886699507%;  background:#f8f8f8; border-radius: 4px;
}
.gallery_media_listdata{
    position:absolute;top:0;left:0;width:100%;height:100%;
}
.btn_gallery_play{display:block;width:60px;height:60px;background:url("../images/ic_play@2x.png") no-repeat 50% 50%/100% auto;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.media_listdata{}
.gallery_spec_row{margin-top:20px;}
.gallery_spec_main{@include clamp(1); font-size: 22px; font-weight: 600; color: #292a2e; line-height: 1.4;}
.gallery_spec_sub{
    display:block; margin-top:4px; font-size: 14px; line-height: 1.4; color: #98a0ad;
}

.gallery_spec_clamp_main{font-size: 22px; @include clamp(2); line-height: 1.3;
    font-weight: 600;
    color: #292a2e;
}
.gallery_spec_clamp_sub{
    margin-top:8px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    text-align: left;
    color: #545760;
    @include clamp(5);
}
.gallery_spec_else{
    font-size: 14px;
    line-height: 1.29;
    color: #98a0ad;
    margin-top:8px;
    @include clamp(1);
}
.previewer_list_wrap{border-top:2px solid $primary;border-bottom:1px solid $primary;}
.previewer_list{
    > li{
        border-bottom:1px solid #d3d5e0;padding:30px 40px;
        &:last-of-type{border-bottom:0;}
        &.nodata_li{
            text-align: center;
            .nodata_para{}
        }
    }
}
.previewer_item{display:flex; align-items: center; gap:40px;}
.previewer_thumnail_cols{
     flex:0 0 100px;
}
.previewer_thumnail{
    position:relative; height:0; padding-bottom:140%;
    img{@include dataImage}
}
.previewer_spec_group_cols{
    flex:1;min-width:0; display:flex; gap:40px; align-items: center;
}
.previewer_spec_cols{flex:1;display:flex; flex-direction: column;align-items: flex-start;justify-content:center;}
.previewer_spec_main{
    font-size: 22px;
    font-weight: 600;
    @include clamp(2);
    text-align: left;
    color: #292a2e;
}
.previewer_spec_sub{
    font-size: 14px;
    line-height: 1.29;
    color: #98a0ad;
    @include clamp(1);
    margin-top:8px;
}
.previewer_btn_cols{}
.btn_event_box{
    display:flex; background:$primary; border-radius: 100px; padding:12px 30px; justify-content: center; align-items: center; gap:4px; white-space: nowrap;
    .ico_down{display:block;width:16px;height:16px;background:url("../images/ic_download@2x.png") no-repeat 50% 50%/100% auto;}
}
.btn_event_box_text{
    font-size: 16px; display:inline-block;
    line-height: 1;
    color: #fff;
}

.summary_card_list_wrap{
    &.type2{
        .summary_card_list{
            > li{
                &:last-of-type{} 
            }
        }
        .summary_card{}
        .summary_card_img_cols{}
        .summary_card_img_wrap{
            img{}
        }
        .summary_card_spec_cols{}
        .summary_card_spec_main{}
        .summary_card_spec_sub_list{
            > li {
                &:last-of-type{} 
            }
        }
    }
}
.summary_card_list{
    display:flex; flex-wrap:wrap; gap:40px 0; margin:0 -20px;
    > li{
        flex:0 0 50%; width:50%; box-sizing: border-box; padding:0 20px;
        &:last-of-type{}
    }
}
.summary_card{display:flex;gap:40px;}
.summary_card_img_cols{flex:0 0 260px;}
.summary_card_img_wrap{
    position:relative;border-radius:4px;overflow:hidden;height:0;padding-bottom:69.23076923076923%;
    img{@include dataImage2}
}
.summary_card_spec_cols{flex:1; min-width:0; display:flex; align-items: center; flex-direction: column; justify-content: center; padding-right:40px;}
.summary_card_spec_main{font-size: 24px; line-height:1.3; word-break: keep-all; width:100%;
    font-weight: 600;
    text-align: left;
    color: #292a2e;}
    
.summary_canrd_spec_sub{}
.summary_card_spec_sub_list{width:100%; margin-top:12px;
    > li{
        display:flex; gap:4px; margin-bottom:9px; 
        &:last-of-type{margin-bottom:0;}
    }
}
.ico_summary{
    width:16px;height:16px;flex:0 0 16px;background:url("../images/ic_contact02@2x.png") no-repeat 0 0/100% auto;
    &.ico_map{}
    &.ico_call{background-image:url("../images/ic_contact01@2x.png")}
}
.text_summary_para{font-size: 14px; word-break: keep-all;
    text-align: left;
    color: #545760;}

.note_bottom_row{}
.note_img_cols{
    img{}
}
.note_spec_cols{}
.note_spec_para{}

.block_group_wrap{}
.block_group{
    &:last-of-type{}
}
.block_group_title_row{}
.block_group_title{}
.block_group_content{}

.data_table_wrap{
    &.respon_scroll_wrap{}
}
.data_table{
    thead{
        tr{
            th{
                &.colwid_short{}
                &:last-of-type{}
            }
        }
    }
    tbody{
        tr{
            td{
                &.colwid_short{}
                &:last-of-type{}
            }
        }
    }
}
.data_thtext{}
.data_tdtext{}
.text_block_item_list{

}
.text_block_bullet{
    &.text_emp{}
}
.text_block_content{}
.indent_item_list{

}
.indent_bullet{
    &.text_emp{}
}
.indent_text_content{}

/* paging */
.pagination_wrap{display:flex;justify-content: center;margin-top:50px;gap:4px;}
.btn_pagination_control{
    display:flex;width:30px;height:30px; align-items: center; justify-content: center;
    border-radius: 4px;
    background-color: #f9fafd;
    &:after{
        display:block;content:'';width:16px;height:16px;
        background-position: 0 50%;
        background-size:16px auto;
        background-repeat : no-repeat;
    }
    &:focus{}
    &:hover{
        background-color:$primary;
        &:after{background-position:0 100%;}
    }
    &.disabled{
        background-color: #f9fafd !important; cursor: default;
        &:after{
            background-position:0 0 !important;
        }
    }
    &.prev_go{
        &:after{
            background-image:url("../images/ic_paging_prev.png");
        }
        
    }
    &.next_go{ 
        &:after{
            background-image:url("../images/ico_paging_next.png");
        }
    }
    &.prev_go2{
        &:after{
            background-image:url("../images/ico_paging_first.png");
        }
    }
    &.next_go2{
        &:after{
            background-image:url("../images/ico_paging_end.png");
        }
    }
}
.pagination_number_list{
    display:flex;justify-content: flex-end;gap:8px;
    > li{
        &:last-of-type{}
    }
}
.page_number{
    display:flex;align-items:center;height:30px;min-width:30px;white-space: nowrap;justify-content: center;
    font-size: 14px;border-radius: 4px;
    color: #98a0ad;
    &:hover,
    &.active{background-color:$primary;font-weight:500;color:#fff;}
    &.active{cursor: default;}
}

/* view */
.view_content_wrap{}
.view_title_row{
    padding: 30px 10px; border-top: 2px solid $primary; border-bottom:1px solid #d3d5e0;  
    display:flex;align-items:center; gap:20px;
    & + .view_render_data_row{}
}
.view_title_main{flex:1;min-width:0;font-size: 22px;font-weight: 600;color: #292a2e; @include clamp(3);
}
.view_title_else{font-size:14px;color:#63677b;line-height:1;}
.view_render_data_row{
    
    & + .view_file_item_row{}
}
.gallery_swiper_wrap{
    & + .view_getdata_render{margin-top:50px;}
}
.gallery_view_row{
    padding:70px 90px 0;
}
.swiper-container{
    &.gallery_view_container{
        .swiper-slide{}
    }
    &.gallery_thumnail_container{
        flex:1;min-width:0;margin:0 auto;
        .swiper-wrapper{width:auto;}
        .swiper-slide{width:auto;}
    }
}
.gallery_view_img_wrap{
    position:relative;overflow:hidden;height:0;padding-bottom:66.66666666666667%;
    > img{@include dataImage}
}
.gallery_thumnail_img{
    position:relative;overflow:hidden;height:100px; width:100px; background:#f0f0f0; border-radius:4px; display:block; border:1px solid transparent; box-sizing: border-box; margin:0 auto;
    &:hover,
    &.active{border-color:$primary;}
    img{@include dataImage}
}
.gallery_thumnail_row{
    position:relative; display:flex; justify-content: center; align-items: center; max-width:670px; margin:30px auto 0; gap:20px;
}
.btn_thumnail_control{
    display:block;width:40px;height:40px;position:relative;flex:0 0 40px;
    &:after{
        display:block;content:'';width:24px;height:24px;border-right:2px solid #a4a8ba; border-top:2px solid #a4a8ba; transform: rotate(45deg); position:absolute;top:7px;left:1px;
    }
    &.prev{
        &:after{transform: rotate(225deg);left:14px}
    }
    &.next{
        &:after{}
    }

    &:hover{
        &:after{border-color:$primary;}
    }
}
.view_getdata_render{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: #545760;
}
.view_file_item_row{margin-top:20px;
    
    
    border-radius: 4px;
    background-color: rgba(31, 60, 138, 0.05);

    /* & + .btn_bottom_row{margin-top:70px;} */
}
.view_file_item_list{
    display: flex; flex-wrap:wrap;
    min-height:52px;padding: 16px 10px 15px; box-sizing: border-box;
    align-items: center;
    gap: 11px 16px;
    > li {
        &:last-of-type{}
    }
}
.view_file_item{display:flex;gap:4px;}
.view_file_ico{display:block;width:20px;height:20px; background:url("../images/ic_file@2x.png") no-repeat 0 0/100% auto; flex:0 0 20px;}
.view_file_name{font-size: 14px; display:inline-block;position:relative;top:1px;
    line-height: 1.29;
    text-align: left;
    color: #63677b;}
    .window .view_file_name{}
.view_other_data_row{margin-top:70px;border-bottom:1px solid $primary;}
.view_other_data_table{display:table;width:100%;}
.view_other_data_tr{
    display:table-row;
    &:hover{
        .view_other_data_key{color:$primary;font-weight:600;letter-spacing: -0.3px;
            &:before{border-color:$primary;}
        }
        .view_other_data_cell{background:#f9fafd}
        .view_other_data_value{font-weight:600;letter-spacing: -0.2px;}
    }
    &:last-of-type{}
}
.view_other_data_cell{
    display:table-cell;vertical-align:middle;border-top:1px solid #d3d5e0;
    &.cell_th{width:1px;padding:22px 34px 22px 15px;}
    &.cell_td{padding:22px 15px 22px 0;}
}
.view_other_data_key{
    display:flex;white-space:nowrap; font-size:14px; color:#63677b; line-height:1; padding-left:20px; position:relative;
    &:before{display:block;content:'';width:5px;height:5px;border-top:1px solid #a9adbe;border-left:1px solid #a9adbe;position:absolute;top:6px;left:2px;transform: rotate(45deg);}
    &.type2{
        &:before{
            transform: rotate(225deg); top:3px;
        }
    }
}
.view_other_data_value{
    font-size: 14px; color: #292a2e; @include clamp(1);
}
.btn_bottom_row{margin-top:30px;text-align: center;
    &.type2{margin-top:70px;border-top:1px solid $primary;padding-top:30px;min-width:180px;}

    
}
.btn_submit_box{display:inline-block;min-width:190px;text-align: center; padding: 10px 20px; box-sizing: border-box;
    border-radius: 100px;
    border: solid 1px #98a0ad;
    background-color: #fff;
    &.type2{background:$primary; border-color:$primary;
        .btn_submit_box_text{color:#fff;}
    }
    &:hover{
        border-color:$primary;
        .btn_submit_box_text{color:$primary;}
    }
}
.btn_submit_box_text{font-size: 16px;display:inline-block;
    line-height: 1;
    color: #545760;}

.view_getdata_primary_img{
    max-width:800px;margin:70px auto 0;
    > img{}

    & + .view_getdata_render{margin-top:50px;}
}

.data_linkage_box{margin-top:50px;background:#f1f2f6;padding:30px;}
.data_linkage_title_row{}
.data_linkage_title{font-size: 22px;
    font-weight: 600;
    color: #292a2e;}
.data_linkage_content_row{margin-top:8px;}
.data_linkage_list{
    > li{
        padding:15px 0; border-bottom:1px dashed #d3d5e0;
        &:last-of-type{border-bottom:0;}
    }
}
.data_linkage_item{font-size: 16px;line-height: 1.38;color: #545760; @include clamp(1)}

@media (max-width:$tablet){
    .gallery_list{
        gap:30px 0; margin:0 -8px;
        > li{
            padding:0 8px;
        }
        
    }
    .gallery_list_wrap {
        &.skin2{
            .gallery_list{
                margin:0 -8px; gap:30px 0;
                > li{
                    padding:0 8px;
                }
            }
        }
    }

    .gallery_spec_main{font-size:16px;}
    .gallery_spec_sub{font-size:12px;}

    .gallery_spec_row{margin-top:10px;}

    .board_count_row{margin-bottom:8px;font-size:13px;}

    .pagination_wrap{margin-top:30px;}

    .gallery_spec_clamp_main{font-size:16px; @include clamp(1);
        &.respon_type2{@include clamp(2);}
    }
    .gallery_spec_clamp_sub{font-size:13px; @include clamp(3);margin-top:4px;}
    .gallery_spec_else{font-size:12px;margin-top:4px;}

    .btn_gallery_play{width:40px;height:40px;}

    .previewer_list {
        
        > li{
            padding:20px 10px;
        }
    }
    .previewer_item{gap:16px;}
    
    .previewer_spec_group_cols{display:block;}

    .btn_event_box{display:inline-flex;padding:7px 16px;}
    .btn_event_box_text{font-size:14px;}

    .previewer_spec_main{font-size:18px;}
    .previewer_spec_sub{font-size:12px;margin-top:8px;}
    .previewer_btn_cols{margin-top:8px;}
    .previewer_thumnail_cols{flex-basis: 80px;}


    .view_title_row{
        padding: 16px 10px; 
        display:block;
    }
    .view_title_main{font-size: 16px;
    }
    .view_title_else{margin-top:8px;}

    .gallery_view_row{padding:35px 65px 0}
    .gallery_thumnail_row{gap:6px;max-width:362px;margin-top:16px;}
    .gallery_thumnail_img{width:50px;height:50px;}
    .btn_thumnail_control{width:30px;height:30px; flex-basis: 30px;
        &:after{
            width:18px;height:18px;top:5px;left:0px;
        }
        &.prev{
            &:after{left:11px}
        }
    }
    .gallery_swiper_wrap{
        & + .view_getdata_render{margin-top:20px;}
    }
    .view_file_item_row{margin-top:16px;}
    .view_file_name{font-size:13px;top:2px;}

    .view_other_data_row{margin-top:30px;}

    .view_other_data_cell{
        &.cell_th{padding:15px 24px 15px 7px;}
        &.cell_td{padding:15px 10px 15px 0;}
    }

    .btn_submit_box_text{font-size:14px;}
    .btn_submit_box{min-width:180px;}

    .btn_bottom_row{margin-top:20px;
        &.type2{
            margin-top:20px;border-top:0;padding:0;
        }
    }

    .view_getdata_render{font-size:14px;}


    .view_getdata_primary_img{
        margin-top:20px;max-width:450px;
    
        & + .view_getdata_render{margin-top:20px;}
    }

    .data_linkage_box{margin-top:30px;padding:20px 16px;}

    .data_linkage_title{font-size:16px;}

    .data_linkage_item{font-size:13px;}

    .data_linkage_list{
        > li{padding:8px 0;}
    }

    
    .summary_card_list_wrap{}
    .summary_card_list{
        display:block;margin:0;
        > li{
            width:auto; padding:0 0 16px 0;
            &:last-of-type{padding-bottom: 0;}
        }
    }
    .summary_card{gap:20px;}
    .summary_card_spec_cols{padding-right:20px;}
    .summary_card_spec_main{font-size: 19px;}
    .summary_card_spec_sub_list{ margin-top:10px;}
}

.guide_grid_list_wrap{

}
.guide_grid_list{
    > li{
        &:last-of-type{}
        &.full{}
    }
}
.guide_grid_item{}
.guide_grid_title{}
.guide_grid_content{}
.guide_summary_item{}
.guide_summary_thum_cols{
    img{}
}
.guide_summary_spec_cols{}
.guide_summary_copy_group{

}
.guide_summary_copy{
    &:last-of-type{}
}

.guide_summary_else_spec_wrap{
    .summary_card_spec_sub_list{
        > li{
            &:last-of-type{}
        }
    }
}
.guide_summary_else_spec_title{}
.grid_block_item{

}
.grid_block_img_wrap{
    img{}
}
.grid_block_spec_wrap{}
.grid_block_spec_para{}
.btn_grid_spec_wrap{}
.btn_linktext_box{}

@media (max-width:$mobile){
    .gallery_list{
        > li{
            flex-basis: 50%;
        }
    }
    .gallery_list_wrap {
        &.skin2{
            .gallery_list{
                > li{flex:0 0 50%;}
            }
        }
        &.break_type2{
            .gallery_list{
                > li{flex:0 0 100%;}
            }
        }
    }
    .btn_gallery_play{width:50px;height:50px;}

    .gallery_view_row{padding:30px 0 0;}

    .view_getdata_primary_img{margin-left:10px;margin-right:10px;
        & + .view_getdata_render{margin-left:10px;margin-right:10px;}
    }

    .btn_thumnail_control{
        width:20px;height:28px; flex-basis: 20px;
        &:after{
            width:12px;height:12px;
        }
        &.prev{
            &:after{
                top:7px;left:7px;
            }
        }
        &.next{
            &:after{
                top:7px;left:-1px;
            }
        }
        
    }

    .btn_bottom_row{
        .summary_card_list_wrap + &{margin-top:40px;}
    }

    .view_other_data_cell{
        &.cell_th{padding-right:18px;}
    }

    .view_file_item_row{margin-left:10px;margin-right:10px;}

    
    .summary_card_list_wrap{}
    .summary_card_list{
        > li{
            width:auto; padding:0 0 40px 0;
        }
    }
    .summary_card{display:block;}
    .summary_card_spec_cols{padding:16px 0 0 0;}
    .summary_card_spec_main{font-size: 19px;}

    .summary_card_img_wrap{
       padding-bottom:54.8780487804878%;
    }

    .btn_submit_box{
        
        &.mbtype2{min-width:0;display:block;}
    }
}

@media (max-width:$mobile_small){
    /* paging */
    .pagination_wrap{gap:3px;}
    .btn_pagination_control{
       
    }
    .pagination_number_list{
        gap:3px;
    }
    .btn_pagination_control,
    .page_number{
        height:29px;width:29px; min-width:29px;
    }

    .gallery_thumnail_img{width:40px;height:40px;}
}

@media (max-width:$mobile_xsmall){
    /* paging */
    .pagination_wrap{}
    .btn_pagination_control{
       
    }
    .pagination_number_list{
    }
    .page_number{
        
    }
    .btn_pagination_control,
    .page_number{
        height:25px;width:25px; min-width:25px;
    }
    .gallery_thumnail_row{gap:3px;}
    .gallery_thumnail_img{width:36px;height:36px;}
}


/* design */
.greet_contents_wrap{display:flex;}
.greet_text_group{flex:1;padding:0 0 0 50px;color:#292a2e;}
.greet_main_text{font-size:30px;font-weight:700;line-height:1;word-break: keep-all;}
.greet_sub_text{font-size:20px;font-weight:600;margin-top:16px;word-break: keep-all;}
.greet_tail_para_group{margin-top:16px;}
.greet_tail_para{
    margin-bottom:16px; line-height:1.25; word-break: keep-all; font-size:14px;color:#343439;
    &.type2{}
    &:last-of-type{margin-bottom:0;}
}
.greet_img_group{
    flex:0 0 518px;

    display: flex; align-items: flex-end;
    &.type2{
        align-items: center;
    }
    img{vertical-align: bottom;}
}
.greet_tail_para_else_wrap{
    margin: 16px 50px;;
}

.cont_inner_title_row{}
.cont_inner_title{}
.cont_inner_content_row{}
.cont_inner_copy_group{}
.cont_inner_copy{
    &:last-of-type{}
}
.cont_diagram_img{}
.step_diagram_list{
    > li {
        &:after{}
        &:last-of-type{}
    }
}
.step_diagram_item{}
.ico_step_row{}
.ico_step_diagram{
    &.ico_step_01{}
    &.ico_step_02{}
    &.ico_step_03{}
    &.ico_step_04{}
    &.ico_step_05{}
    &.ico_step_06{}
    &.ico_step_07{}
}
.spec_step_row{}
.spec_step_caption{}
.spec_step_data{}


.midcont_intro_copy_wrap{}
.midcont_intro_copy{}

.column_item_wrap{}
.column_item{
    &:last-of-type{}
}
.column_item_title{}
.column_item_content{}
.diagram_overview_wrap{}
.diagram_overview_img{
    img{}
}
.diagram_overview_item_list{
    >li{
        &:last-of-type{}
    }
}
.diagram_overview_item{}
.diagram_overview_ico{
    &.ico_city{}
    &.ico_size{}
    &.ico_population{}
    &.ico_division{}
}
.diagram_overview_spec_wrap{

}
.diagram_overview_spec_sub{}
.diagram_overview_spec_main{}
.diagram_overview_spec_else{}
.diagram_overview_spec_unit{}

.figure_item_list_wrap{}
.figure_item_list{
    > li{
        &:last-of-type{}
    }
}
.figure_item{}
.figure_thum_row{
    img{}
}
.figure_spec_row{}
.figure_spec_main{}
.figure_spec_sub{}

.organ_img_wrap{
    img{}
}
.copy_detail_list_wrap{

}
.copy_detail_list{
    > li{
        &:last-of-type{}
    }
}
.copy_detail_title{}
.copy_detail_sub_group{

}
.copy_detail_sub{
    &.primary_emp{}
}
.dot_bullet_list{
    > li{
        &:before{}
        &:last-of-type{}
    }

    &.flex_type{
        > li{
            &:before{}
            &:last-of-type{}
        }
    }
}

.fiqure_both_item{

}
.fiqure_image_cols{
    img{}
}
.fiqure_spec_cols{

}
.copy_detail_list{
    > li {
        &:last-of-type{}
    }
}

.emp_word_copy_wrap{}
.emp_word_copy{}
.emp_word_sub{}
.emp_word_main{}
.global_city_wrap{
    img{}
}

.photo_item_list_wrap{

}
.photo_item_list{
    > li {
        &:last-of-type{}
    }
}

.photo_item{}
.photo_thum_row{
    img{}
}
.photo_spec_row{}
.photo_spec_main{}
.photo_spec_sub{}

.diagram_system_wrap{}
.diagram_system_vitem{
    &.emp_bg{}
}
.diagram_system_title_row{}
.diagram_system_title{}
.diagram_system_content{
    .dot_bullet_list{}
}
.diagram_system_box_list_wrap{
    &.type2{
        .diagram_system_box_list{
            > li{}
        }
        .diagram_system_box{}
        .diagram_system_caption_row{}
        .diagram_system_caption{}
    }
}
.diagram_system_box_list{
    > li{
        &:after{

        }
        &:last-of-type{
            &:after{}
        }

        &.step_dia{

        }
    }
}
.diagram_system_box{

}
.diagram_system_caption_row{

}
.diagram_system_caption{}
.diagram_system_box_content{}
.diagram_system_vcont_group{

}
.diagram_system_vcont{
    &:last-of-type{
    }
    .img_bullet_list{}
}
.diagram_count_label{

}
.diagram_count_wrap{

}
.digram_count_number{}
.digram_count_unit{}

.img_bullet_list{
    > li{
        &:last-of-type{}
    }

    .ico_bullet{
        &.ico_check{}
    }

    .ico_bullet_text{}
}

.diagram_summary_figure{
    img{}
}

.diagram_step_item{

}
.content_step_row{
    .ico_step_dia{}
}
.text_step_para{}
.allow_step_row{
    .ico_allow_step{}
}

.diagram_system_supplement{

}
.diagram_summary_figure_sub{
    img{}
}

.compare_item_wrap{}
.compare_before_item{}
.compare_item_label{}
.compare_item_main{}
.compare_allow_item{}
.ico_compare_allow{}
.compare_after_item{}
.compare_bigbox_wrap{}
.compare_bigbox{}

.diagram_photo_wrap{}
.diagram_photo_main{
    img{}
}
.diagram_photo_sub{
    img{}
}
.diagram_photo_wrap{}

.intro_global_logo_wrap{
    img{}
}

.global_contents_wrap{

}

.global_figure_copy{
    .primary_emp{}
}

.global_list_group{

}

.global_logo_list_wrap{

}

.global_logo_list{
    > li{
        &:last-of-type{}
    }
}

.global_logo{
    img{}
    &:hover{
        .global_img_hover_wrap{
            .hover_para{}
        }
    }
}

.global_img_hover_wrap{
    .hover_para{}
}

.global_paper_list_wrap{

}

.global_paper_list{
    > li{
        &:last-of-type{}
    }
}

.global_paper{
    img{}
    &:hover{
    }
}

.overview_intro_zone{}
.overview_intro_copy{}
.overview_intro_box_list_wrap{}
.overview_intro_box_list{
    > li{}
}
.overview_intro_box{
    &:nth-of-type(2n){}
}
.overview_box_ico_row{}
.ico_overview{
    &.ico_01{}
    &.ico_02{}
    &.ico_03{}
    &.ico_04{}
    &.ico_05{}
}
.overview_box_spec_row{}
.overview_box_spec_main{}
.overview_box_spec_sub{}

.overview_detail_zone{}
.overview_detail_title{}
.overview_detail_content_wrap{}
.schedule_table_wrap{}
.schedule_table{
    th,td{}
    th{
        &.th_bg01{}
        &.th_bg02{}
        &.th_bg03{}
        &.th_bg04{}
    }
    td{
        &.td_bg01{}
        &.td_bg02{}
        &.td_bg03{}
        &.td_bg04{}

        &.important_cell{}
    }
}
.sch_thtext{}
.sch_tdtext{
    .primary_emp{}
}

.intro_photo_item_zone{}
.intro_photo_item{
    img{}
}
.intro_photo_copy_layer{}
.intro_photo_copy{
    .emp{}
}

.detail_contents_zone{}
.detail_contents_vitem{
    &.type2{

    }
}
.detail_contents_title{}
.detail_photo_item_group{

}
.detail_photo_item{
    &:last-of-type{}
}
.detail_photo_title{
    .emp{}
}

.detail_photo_content_row{}
.detail_photo_list{
    > li {
        &:last-of-type{}
    }
}

.detail_photo_item{}
.detail_photo_thum{
    img{}
}
.detail_photo_spec{}

.detail_contents_title{}

.detail_vcont_item_wrap{}

.detail_vcont_item{
    &:last-of-type{}
}

.detail_vcont_copy_group{}
.detail_vcont_main_copy{}
.detail_vcont_sub_copy{}

.detail_vcont_api_rendar{

}

.detail_vctitle_wrap{

}

.ico_vc{
    &.ico_subway{}
    &.ico_bus{}
    &.ico_air{}
    &.ico_car{}
}

.detail_vctitle{}

.detail_caption_wrap{}
.detail_caption_para{}
.detail_cation_text_list{
    > li {
        &:after{}
        &:last-of-type{}
    }
}
.detail_vcmap_wrap{
    img{}
}

.detail_caption_vertical_item{
    .detail_caption_para{}
    .detail_cation_text_list{}
    &:last-of-type{}
}

.detail_tree_bullet_list{
    > li{
        &:before{}
        &:last-of-type{}
        .detail_cation_text_list{}
    }
}

@media (max-width:$tablet){
    .greet_contents_wrap{flex-direction: column-reverse;}
    .greet_text_group{flex:1;padding:40px 0 0 0;}
    .greet_main_text{font-size:20px;}
    .greet_sub_text{font-size:16px;margin-top:16px;}
    .greet_tail_para_group{margin-top:16px;}
    .greet_tail_para{
        margin-bottom:16px; line-height:1.25; word-break: keep-all; font-size:14px;color:#343439;
        &.type2{}
        &:last-of-type{margin-bottom:0;}
    }
    .greet_img_group{
        flex:auto; max-width:460px; margin:0 auto;

        display: flex;  justify-content: center; align-items: flex-start;
        &.type2{
            align-items: center;
        }
        img{vertical-align: top;}
    }
    .greet_tail_para_else_wrap{
        margin: 16px 0 0 0;
    }
}

@media (max-width:$mobile){
    
}