/* layout */
html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}

.page_wrap{display:flex;flex-direction: column;min-height:100vh;position:relative;overflow-x:hidden;min-width:280px;}
.visual_wrap{position:relative;flex:0 0 300px;
    display:flex;flex-direction: column;
    > *:not(.bg_visual){
        z-index:5;
    }
}

.bg_visual{
    position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;
    img{vertical-align: top;position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;}
}
.header_wrap{box-sizing: border-box;position:absolute;top:0;left:0;width:100%; background:transparent; transition: .4s; z-index:50;
    &:before{display:block;content:'';height:1px;background:rgba(255, 255, 255, 0.2);position:absolute;bottom:0;left:0;width:100%;}

    // &:hover{
    //     background:#fff; 
    //     .header_toplogo_item{
    //         &:before{opacity:0;}
    //         &:after{opacity:1;}
    //     }

    //     .pc_one_item{color:#545760;}
    // }
    &.hover{
        background:#fff; 
        .header_toplogo_item{
            &:before{opacity:0;}
            &:after{opacity:1;}
        }
        .pc_one_item{color:#545760;}
    }
}

.header_dim{
    display:none; opacity:0; transition:.4s opacity; width:100%;height:calc(100% - 140px);background:#000;position:fixed;top:140px;left:0; z-index:30;
    &.active{
        display:block;
    }
    &.motion{
        opacity:0.5;
    }
}
.header_container{max-width:1300px;margin:0 auto;padding:0 30px;position:relative;height:90px;}
.header_toplogo{display:flex;width:150px;height:100%;position:absolute;top:0;left:30px;align-items: center;}
.header_toplogo_item{
    display:inline-block;width:100%;height:50px;position:relative;
    &:before,&:after{
        display:block;content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-size:100% auto;background-position:50% 50%;background-repeat:no-repeat; opacity:1; transition: .4s;
    }
    &:before{
        background-image:url("../images/logo_its_suwon_w@2x.png"); 
    }
    &:after{
        background-image:url("../images/logo_its_suwon@2x.png"); opacity:0;
    }
}
.pc_nav_list_wrap{height:100%;display:flex;justify-content: center;}
.pc_nav_list{
    display:flex;justify-content:center;align-items:flex-end;
    > li{
        padding:0 40px; 
        &:last-of-type{}
        // &:hover{
            
        //     .pc_two_list_wrap{opacity:1;}
        // }
        &.active{
            z-index:5;
            .pc_one_item{
                &:after{
                    opacity:1;
                }
            }   
            // .pc_two_list_wrap{display:block;}
        }
    }
}
.pc_one_item{display:inline-block;color:#fff;font-size:16px;line-height:1;padding:30px 0;font-weight: 500; position:relative;
    &:after{
        display:block;content:'';width:100%;height:3px; background:$secondary; position:absolute;bottom:17px; opacity:0; transition:.4s opacity;
    }
    // &:hover{
    //     &:after{
    //         opacity:1;
    //     }
    // }
}
.pc_two_list_wrap{display:none;position:absolute;top:calc(100% - 1px);left:0;box-sizing: border-box;width:100%;opacity:0; transition:390ms opacity;
    &:before{
        display:block;content:'';background:#f5f5f5;position:absolute;top:0;left:50%;width:100vw;height:100%;transform: translateX(-50%);
    }
    &.active{display:block;z-index:3;}
    &.motion{opacity:1;}
}
.pc_two_list{
    display:flex;position:relative;height:100%;align-items:center;min-height:50px; justify-content: center;gap:80px;
    > li{
        
        &:last-of-type{}
    }
}
.pc_two_item{display:inline-block;font-size:14px;color:#545760;
    &:hover{
        color:$primary; font-weight:500; letter-spacing: -0.1px;
    }
}

.header_util_list_wrap{
    position:absolute;top:0;right:30px;height:100%;
    &:after{display:block;content:'';position:absolute;}
    &:after{left:70px;width:150vw;background:$primary;height:100%;top:0;}
}
.header_util_obj{
    display:block;position:absolute;top:0;right:calc(100% - 70px);height:100%;width:100px;overflow:hidden;
    &:before{display:block;content:'';width:100px;height:200%;transform: rotate(24deg);background:$primary;left:20px;top:-32px;position:absolute;}
}
.header_util_list{
    position:relative;z-index:1;padding:0 20px;top:41px; display:flex;align-items:center;
    > li{
        padding:0 12.5px; position:relative;
        &:last-of-type{
            padding-right:0;
            &:after{display:none;}
        }
        &:first-of-type{
            padding-left:0;
            &:after{}
        }
        &:after{display:block;content:'';width:1px;height:10px;background:#4661ab;position:absolute;top:50%;right:0;transform: translateY(-50%);}
    }
}
.header_util_item{
    font-size:16px;color:#4f6dbe;line-height:1;display:inline-block;font-weight: 500;
    &.active{color:#fff;}
}

.btn_mobile_total{
    display:none;width:40px;height:40px;margin-left:8px;position:relative;
    .btn_mobile_total_inner,
    &:before,
    &:after{display:block;content:''; transition:.5s; width:18px;height:2px;background:#fff;border-radius:5px;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
    &:before{margin-top:-7px;}
    &:after{margin-top:7px;}
    .btn_mobile_total_inner{
    }

    &.active{
        .btn_mobile_total_inner,
        &:before{margin-top:0px;transform: translate(-50%,-50%) rotate(45deg); }
        &:after{margin-top:0px;transform: translate(-50%,-50%) rotate(-45deg); }
        &:before,
        &:after{}
        .btn_mobile_total_inner{
            opacity:0;
        }
    }
}


.mobile_nav_wrap{
    display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;flex-direction:column; overflow: hidden;
    &:before{display:block;content:'';width:40px;height:40px;background:$primary;border-radius:100%;position: fixed;top:8px;right:16px;transform:scale(0);transform-origin: 50% 50%;transition:.5s;}
    > *{position:relative;z-index:2;}
    &.active{display:flex;
        &.motion{
            .mobile_nav_list_wrap{opacity:1;}
            &:before{transform: scale(150);transform-origin: 50% 50%;opacity:1;}
            .mobile_nav_top_row{background-color:#fff;}
            
            .mobile_nav_toplogo{opacity:1;}
        }
    }
    .btn_mobile_total{
        margin:0; display:block;
        &:before,
        &:after{background-color:$primary;}
        .btn_mobile_total_inner{
            background-color:$primary;
        }
    }
}
.btn_mobile_total_wrap{
    position:absolute;top:0;right:16px;height:56px;width:40px;display:flex;align-items: center; justify-content: center;
}
.mobile_nav_top_row{
    flex:0 0 56px;background:transparent;position:relative; height:56px; transition:.5s;
}
.mobile_nav_content_row{
    flex:1; min-height:0; overflow-y: auto;
}
html:not(.touchmode) {
    .mobile_nav_content_row{
        &::-webkit-scrollbar {width: 0; display:none;}
    }
}

.mobile_nav_toplogo{

}

.mobile_nav_toplogo{display:flex;width:105px;height:100%;position:absolute;top:0;left:24px;align-items: center; opacity:0; transition:.5s;}
.mobile_nav_toplogo_item{
    display:inline-block;width:100%;height:35px;position:relative;
    &:after{
        display:block;content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-size:100% auto;background-position:50% 50%;background-repeat:no-repeat; opacity:1; transition: .4s;
    }
    &:after{
        background-image:url("../images/logo_its_suwon@2x.png");
    }
}


.mobile_nav_list_wrap{
    padding:50px 0; text-align: center; opacity:0; transition:.5s;
}
.mobile_nav_list{
    > li{
        &:last-of-type{
        }

        &.active{
            .mb_one_item{
                &:after{transform: rotate(225deg);margin-top:-2px;}
            }
        }
    }
}
.mb_one_item{
    display:flex;min-height:50px;text-align:center;justify-content:center; align-items: center; position:relative; padding:0 60px;
    &:after{display:block;content:'';width:10px;height:10px;border-right:1px solid #fff;transition:.5s;border-bottom:1px solid #fff;transform:rotate(45deg);position:absolute;top:50%;right:25px;margin-top:-8px;}
    &.active{
        &:after{}
    }
}
.mb_one_text{font-size:16px;color:#ffffff;text-align: center;}
.mb_two_list_wrap{
    background:#0a287b; position:relative; overflow:hidden; height:0; transition:.5s;
    &.active{
        .mb_two_list{

        }
    }
    &.motion{
        .mb_two_list{

        }
    }
}
.mb_two_list{
    padding:12px 0;
    > li{
        &:last-of-type{
        }
    }
}
.mb_two_item{
    display:flex;align-items:center;justify-content:center;min-height:40px;box-sizing:border-box; color:#58e1ff;
    &:hover{}
}


.page_control_layer{position:fixed;bottom:20px;right:20px;display:flex;flex-direction: column;align-items: flex-end;z-index:50; transition:.4s opacity;
    &.bottom_pos{opacity: 0;}
}
.page_control_item{}
.btn_page_control{display:block;width:50px;height:50px;position:relative;border-radius:100%;background:#1d1c2b;
    &:after{display:block;content:'';width:7px;height:7px;border-right:1px solid #fff;border-bottom:1px solid #fff;position:absolute;top:50%;left:50%;transform: rotate(225deg);margin:-3.5px 0 0 -3.5px;}
}

.middle_wrap{
    flex:1;min-height:0;
    &.main_contents{
        
    }
}

.footer_wrap{
    flex:0;
}
.footer_else_wrap{
    border-top: 1px solid #d3d5e0; background:#fff;padding:15px 0; overflow-x:auto;
    &::-webkit-scrollbar {width: 0;display:none;}
}
.footer_else_container{
    max-width:1300px;margin:0 auto;padding:0 30px;
}
.footer_logo_list{
    display:flex;align-items:center;gap:50px;
    > li{
        &:last-of-type{
        }
    }
}
.footer_logo{
    display:inline-block;background-position:0 0;background-repeat:no-repeat;background-size:100% auto;vertical-align:top;
    &.logo_partner01{background-image:url("../images/logo_transport_en@2x.png");width:202px;height:50px;}
    &.logo_partner02{background-image:url("../images/logo_suwon_en@2x.png");width:92px;height:50px;}
    &.logo_partner03{background-image:url("../images/logo_its_en@2x.png");width:157px;height:50px;}
}

.footer_primary_wrap{background:#32323d;}
.footer_primary_container{max-width:1300px;margin:0 auto;padding:35px 30px;}
.footer_address_wrap{display:flex;flex-wrap:wrap;gap:0 41px;}
.footer_address_item{
    font-size:14px;color:#98a0ad;display:flex;gap:4px; position:relative;
    &:after{
        display:block;content:'';width:1px;height:10px;background:#545760;position:absolute;top:50%;right:-21px;transform: translateY(-50%);
    }
    &:last-of-type{
        &:after{display:none;}
    }
}
.footer_address_key{color:#d6dae1;}
.footer_address_value{word-break: keep-all;}
.mobile_address_hr{display:none;}
.footer_copy{font-size:14px;color:#63677b;margin-top:10px;word-break: keep-all;}

@media (max-width:$tablet){
    .header_toplogo{left:24px;}
    .header_toplogo{width:105px;}
    .header_toplogo_item{height:35px;
        &:before{opacity:1 !important;}
        &:after{display:none;}
    }

    .header_wrap{height:56px;background-color: transparent !important;}
    .header_container{padding:0 0 0 24px;height:56px;}

    .header_util_list_wrap{
        display:flex;align-items:center; right:16px;
        &:after{display:none;}
    }
    .header_util_list{
        padding:0;top:0;
        > li{
            &:after{
                background:rgba(255, 255, 255, 0.5);
            }
        }
    }
    .window .header_util_list{
        > li{
            &:after{
               margin-top:1px !important;
            }
        }
    }
    .ios .header_util_list{
        top: -1px;
        > li{
            &:after{
               margin-top:1.5px;
            }
        }
    }


    .header_util_item{color:rgba(255, 255, 255, 0.5);font-size:14px;}

    .visual_wrap{flex:0 0 216px;}

    .pc_nav_list_wrap{display:none;}
    .header_util_obj{display:none;}


    .btn_mobile_total{display:block;}

    .footer_primary_container{padding:20px 24px;}
    .footer_address_wrap{gap:0 10px;}
    .footer_else_wrap{
        padding:10px 0;
    }
    .footer_else_container{
        padding:0 24px;
    }
    .footer_address_item{
        font-size:14px;gap:0 4px;
        &.type2{
            display:block;padding-right:0;
            .footer_address_value{margin-top:4px;}
        }
        &:after{
            display:none;
        }
        &:last-of-type{padding-right:0;}
    }
    
    .mobile_address_hr{display:block;flex:0 0 100%;height:10px;}
    .footer_copy{font-size:13px;}

    .footer_logo_list{gap:16px;}
    .footer_logo{
        &.logo_partner01{width:138px;height:34px;}
        &.logo_partner02{width:63px;height:34px;}
        &.logo_partner03{width:107px;height:34px;}
    }

    .page_control_layer{bottom:16px;right:16px;}

    .header_dim{
        display:none;
    }
}

@media (max-width:$mobile){
    .header_container{padding-left:16px;}
    .header_toplogo{left:16px;}
    .header_util_list_wrap{right:10px;}
    .page_control_layer{right:8px;}
    
    .mobile_nav_toplogo{left:16px;}

    .btn_mobile_total_wrap{right:10px;}
    .mobile_nav_wrap{
        &:before{right:10px;}
    }
    
    .footer_primary_container{padding:20px 16px;}
    .footer_address_item{font-size:13px;}
    .footer_else_container{padding:0 16px;}
    .footer_logo_list{gap:10px;
        > li:last-of-type{padding-right:16px;}
        &:after{display:block;content:'';width:10px;}
    }

    .mobile_nav_wrap{
        &.active{
            &.motion{
                &:before{transform: scale(100);}
            }
        }
    }
}
/* 
@media (max-width:1279px){
    .header_toplogo{left:24px;}
    
    .header_util_list_wrap{right:16px;}
    .header_util_list{padding:0 10px;}
    .header_container{padding:0 24px;}
    .pc_nav_list{
        > li{padding:0 25px;}
    }
    .pc_two_list{
        gap:40px;
        > li{}
    }

    .footer_wrap{
    }
    .footer_else_wrap{
        padding:10px 0;
    }
    .footer_else_container{
        padding:0 24px;
    }
    
    .footer_primary_container{padding:20px 80px 20px 24px;}
    .footer_address_wrap{gap:0 10px;}
    .footer_address_item{
        font-size:14px;gap:4px;
        &.type2{
            display:block;
            .footer_address_value{margin-top:4px;}
        }
        &:after{
            display:none;
        }
    }
    
    .mobile_address_hr{display:block;flex:0 0 100%;height:10px;}
    .footer_copy{font-size:13px;}

    .page_control_layer{bottom:16px;right:16px;}
}
@media (max-width:1024px){
    .header_toplogo{width:105px;}
    .header_toplogo_item{height:35px;}
    .pc_nav_list{
        > li{padding:0 10px;}
    }
    .pc_one_item,
    .header_util_item{font-size:14px;}

    .pc_two_list{
        gap:20px;
        > li{}
    }
}

@media (max-width:768px){
    .pc_nav_list_wrap{display:none;}
    .header_util_obj{display:none;}
    .header_util_list_wrap{
        display:flex;align-items:center;
        &:after{display:none;}
    }
    .header_wrap{height:56px;}
    .header_container{height:56px;}
    .header_util_list{top:0;padding:0;}

    .header_util_list{
        > li{
            &:after{
                background:rgba(255, 255, 255, 0.5);
            }
        }
    }
    .window .header_util_list{
        > li{
            &:after{
               margin-top:1px;
            }
        }
    }
    .header_util_item{color:rgba(255, 255, 255, 0.5);}

    .btn_mobile_total{display:block;}
    
    

   

} */


/* sub */
.sub_visual_title_row{display:flex;justify-content: center;align-items: center; text-align: center;padding:140px 0 50px; height:100%; box-sizing: border-box;}
.sub_visual_title{ opacity: 0.9; font-size: 45px; line-height:1; color:#fff; font-weight:700;}
.sub_map_list_row{position:absolute;bottom:0;left:0;width:100%;}
.sub_map_list{
    max-width:1300px;margin:0 auto;padding:16px 30px; display:flex; align-items: center; gap:28px;
    > li{
        position:relative;
        &:after{
            display:block;content:'';width:6px;height:6px;border-top:1px solid #fff;border-right:1px solid #fff; position:absolute;top:7px;right:-16px; transform: rotate(45deg);
        }
        &:last-of-type{
            &:after{display:none;}
        }
        &.active{
            .sub_map_toggle{
                &:after{background-position:0 100%;}
            }
        }
    }
}
.sub_map_home{display:block;width:20px;height:20px;background:url("../images/ic_nv_home@2x.png") no-repeat 0 0/100% auto;}
.sub_map_text,
.sub_map_toggle{font-size:14px;color:#fff;line-height:1;display:inline-block;}
.sub_map_text{}
.sub_map_toggle{
    position:relative;padding-right:16px;
    &:after{display:block;content:'';width:16px;height:16px;background:url("../images/ic_nv_arrow_sb@2x.png") no-repeat 0 0/100% auto;position:absolute;top:0;right:0;}

    &.active{

        &:after{background-position:0 100%;}
    }
}

.sub_map_toggle_layer{
    position:absolute;top:calc(100% + 7px);left:50%;width:calc(100% + 14px); display:none; min-width:150px; transform: translateX(-50%);
    height:0;overflow:hidden; transition:.4s;box-shadow: 0 4px 8px 0 rgba(7, 7, 34, 0.2);
    border-radius: 4px;

    &.active{
        display:block;
    }
}
.sub_map_menu_list_wrap{
    text-align: center;
    padding: 8px 0;
    
    background-color: #fff;
}
.sub_map_menu_list{
    > li{
        
        &:after{}
        &:last-of-type{}
    }
}
.sub_map_menu{
    display:block;color:#98a0ad;padding:8px; font-size:13px;
    &:hover,
    &.current{
        color:#292a2e;background-color: rgba(31, 60, 138, 0.1);
    }
}
.middle_contents{
    padding:100px 30px 120px;
}
.middle_title_row{
    text-align: center;
}
.middle_title{font-size:40px;color:#292a2e;font-weight:700;word-break: keep-all;}
.middle_content_row{margin:70px auto 0;max-width:1300px;}

@media (max-width:$tablet){
    .sub_visual_title_row{padding:56px 24px 40px;}

    .sub_visual_title{font-size:28px;}
    .sub_map_list{
        padding:0;
        >li{
            &:not(.has_current){
                display:none;
            }
            &.has_current{
                display:block; flex:1;
                
            }
        }
    }
    .sub_map_toggle{display:block; padding:13px 24px;background: rgba(0, 0, 0, 0.2);
        &:after{top:50%;transform: translateY(-50%);right:24px;}
    }
    .sub_map_text.define_current{display:block; padding:13px 24px;background: rgba(0, 0, 0, 0.2);}
    .sub_map_toggle_layer{width:100%;left:0;top:100%;transform: translateX(0);}
    .middle_content_row{margin-top:16px;}
    .middle_title{font-size:24px;}
    .middle_contents{
        padding:50px 24px;
    }
}

@media (max-width:$mobile){
    .sub_map_toggle,
    .sub_map_text.define_current,
    .sub_visual_title_row{
        padding-left:16px;
        padding-right:16px;
    }

    .sub_map_toggle{
        &:after{right:16px;}
    }

    .middle_contents{padding:50px 16px;}
}


/* debug */
.debug{position:fixed;top:0;left:0;background:red;color:#fff;padding:10px;z-index:10000000;}
